#content {
    background-color: darkgray
}

#login-title {
    font-size: 7vw;
    color: #FFFFFF
}

#login-container {
    position: relative;
}

#login-card {
    overflow: scroll;
    width: 85vw;
    max-width: 480px;
    height: 70vh;
    max-height: 720px;
    margin: auto;
}

