<h1>mainMenu Page</h1>

<mat-card id="mainmenu-card">
  <mat-card-title>Welcome {{userKind}} {{userName}}!</mat-card-title>

  <mat-card-content>

    <mat-tab-group>

      <mat-tab label="SHOW" *ngIf="userInfo.userId">
        <h1>Slide List</h1>
        <button mat-raised-button color="primary" (click)="openUploadDialog()">upload</button>

        <mat-progress-spinner *ngIf="hostListLoading" mode="indeterminate" value=50>
        </mat-progress-spinner>

        <mat-list>
          <mat-list-item *ngFor="let slide of hitHostSlides">
            ・<button mat-button (click)="onSlideName(slide, 'SHOW')">{{slide}}</button>
          </mat-list-item>
          <!-- <button mat-raised-button color="primary" routerLink="/slide">START</button> -->
        </mat-list>
      </mat-tab>

      <mat-tab label="WATCH">
        <h1>Search Presenter</h1>
        <mat-form-field>
          <input matInput placeholder="ID" value="" [(ngModel)]="searchBoxText">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch()">search</button>

        <mat-progress-spinner *ngIf="searchSlideLoading" mode="indeterminate" value=50>
        </mat-progress-spinner>

        <mat-list>
          <mat-list-item *ngFor="let slide of hitSearchSlides">
            ・<button mat-button (click)="onSlideName(slide, 'WATCH')">{{slide}}</button>
          </mat-list-item>
        </mat-list>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>
