<span id="mainmenu-title">MainMenu</span>

<mat-card id="mainmenu-card">
  <mat-card-title>Welcome {{userKind}} {{userName}}!</mat-card-title>

  <mat-card-content>

    <mat-tab-group>

      <mat-tab label="SHOW" *ngIf="userInfo.userId">
        <h1>Slide List</h1>
        <button mat-raised-button color="primary" (click)="openUploadDialog()">upload</button>

        <mat-divider></mat-divider>

        <mat-progress-spinner *ngIf="hostListLoading" mode="indeterminate" value=50>
        </mat-progress-spinner>

        <mat-list>
          <mat-list-item *ngFor="let slide of hitHostSlides" class="slide-list-item" (click)="onSlideName(slide, 'SHOW')">
            ・{{slide}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="WATCH">
        <h1>Search Presenter</h1>
        <mat-form-field>
          <input matInput placeholder="ID" value="" [(ngModel)]="searchBoxText">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch()">search</button>

        <mat-divider></mat-divider>
        <mat-progress-spinner *ngIf="searchSlideLoading" mode="indeterminate" value=50>
        </mat-progress-spinner>

        <mat-list>
          <mat-list-item *ngFor="let slide of hitSearchSlides" class="slide-list-item" (click)="onSlideName(slide, 'WATCH')">
            ・{{slide}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>
