<h1>mainMenu Page</h1>

<mat-card id="login-card">
  <mat-card-title>Welcome {{userKind}} {{userName}}!</mat-card-title>

  <mat-card-content>

    <h1>Slide List</h1>
    <button mat-raised-button color="primary" (click)="openUploadDialog()">upload</button>

    <mat-progress-spinner *ngIf="loading" mode="indeterminate" value=50>
    </mat-progress-spinner>

    <mat-list *ngIf="!loading">

      <mat-list-item>
      </mat-list-item>

      <button mat-raised-button color="primary" routerLink="/slide">START</button>

    </mat-list>

  </mat-card-content>

</mat-card>
