#main-header {
  height: 10vmin;
  max-height: 12vmin;
}

#header-title {
    font-size: 5vmin;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.slide-card {
  width: 64vw;
  height: 36vw;
  margin: auto;
}

.slide-title {
  font-size: 5vmin;
}

.contents-text {
    font-size: 3vmin
}

.buttons {
    margin-left: 50vw;
}