<mat-toolbar id="main-header">
  <button mat-icon-button>
    <mat-icon (click)="backToMainMenu()">arrow_back</mat-icon>
  </button>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a screen icon" (click)="changeFullScreen()">settings_overscan</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a lock icon" *ngIf="!isHost" (click)="onLock()">lock_outline</mat-icon>
    <mat-icon aria-label="Example icon-button with a unlock icon" *ngIf="isHost" (click)="onUnLock()">lock_open</mat-icon>
  </button>
</mat-toolbar>

<div class="margin"></div>

<mat-card class="slide-card" id="slide-display" (click)="next()">
  <mat-card-title class="slide-title">
    <div id="title">{{currentTitle}}</div>
  </mat-card-title>

  <mat-card-content id="slide-contents">
  </mat-card-content>

</mat-card>

<div class="margin"></div>

<div class="buttons">
  <button mat-raised-button color="primary" (click)="next()">next</button>
</div>
