<mat-toolbar id="main-header">
  <span id="header-title">Slide Show</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a screen icon" (click)="changeFullScreen()">settings_overscan</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a lock icon" *ngIf="!host" (click)="onLock()">lock_outline</mat-icon>
    <mat-icon aria-label="Example icon-button with a unlock icon" *ngIf="host" (click)="onUnLock()">lock_open</mat-icon>
  </button>
</mat-toolbar>

<div class="margin"></div>

<div class="window">
  <mat-card class="slide-card" id="slide-display" (click)="next()">
    <mat-card-title class="slide-title">
      <div id="title"></div>
    </mat-card-title>

    <mat-card-content id="slide-contents">
    </mat-card-content>

  </mat-card>

  <div class="margin"></div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="reset()">reset</button>
    <button mat-raised-button color="primary" (click)="next()">next</button>
  </div>

</div>
